html{
    background-color: rgba(14, 230, 82, 0.208);
}
h1{
    color: rgb(203, 72, 72);
}
h2{
    color: rgb(93, 80, 177);
}
p{
    color: rgb(8, 1, 16);
}
ul{
    color: rgb(103, 1, 1);
}
ol{
    color: rgb(1, 1, 76);
}
